#notes-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

ol#all-notes {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li.note {
    padding: 0.5rem 0;
    border-radius: var(--border-radius-small);
}

li.note:hover {
    box-shadow: 0 0 12px var(--light-blue);
}

a.note-link {
    color: inherit;
}

li.note article {
    height: 12rem;
    padding: 0 1rem;
    overflow: hidden;
}

.note-title {
    margin-bottom: 0.5rem;
}

.note-title h4 {
    margin: 0;
}

.note p {
    text-align: justify;
}

.Red {
    background-color: var(--red);
}

.Orange {
    background-color: var(--orange);
}

.Yellow {
    background-color: var(--yellow);
    color: #28282B;
}

.Green {
    background-color: var(--green);
}

.Blue {
    background-color: var(--blue);
}

.Purple {
    background-color: var(--purple);
}

#thisNote {
    width: 70%;
    margin: 0 auto;
    border-radius: var(--border-radius-large);
    padding: 1rem 2rem;
}

#thisNote h5 {
    text-align: justify;
}

@media (max-width: 768px) {
    #notes-container {
        width: 95%;
    }

    ol#all-notes {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    #thisNote {
        width: 90%;
    }
}