#delete-modal, .warning, #void-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-modal, #void-input {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background-color: rgba(40, 40, 43, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.warning {
    background-image: linear-gradient(var(--color-primary-600),var(--color-primary-500)) ;
    width: 40rem;
    height: 15rem;
    flex-direction: column;
    z-index: 20;
    border-radius: var(--border-radius-large);
    padding: 0.5rem;
}

#option-btns {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .warning {
        width: 95%;
    }

    #option-btns {
        width: 80%;
    }
}